@{
    ViewData["Message"] = "This is a Web Application .Net Core to Learning!";
    ViewData["email"] = "eriko@gmail.com";
}

<div class="text-center">
    <h1 class="display-5">@ViewData["Message"]</h1>
    <p>More information: @ViewData["email"]</p>
    <p><a href="https://github.com/erikosampaio/workshop-asp-net-core-mvc" target="_blank">Click here to access repository project.</a></p>
</div>
