@{
    ViewData["Message"] = "Privacy Policy";
    ViewData["message_privacy"] = "Use this page to detail your site's privacy policy.";

}
<h1>@ViewData["Message"]</h1>

<p>@ViewData["message_privacy"]</p>
